.App {
  text-align: center;
  height: 100vh;
}
/* removes number scroll on inputs (TY CSS TRICKS) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}